#items {
  font-size: 1.5em;
  text-align: left;
  padding: 20px 45px;
  height: calc(100% - 50px - 40px);

  .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .item {
    display: flex;
    justify-content: space-between;

    &:hover {
      filter: brightness(0.9);
    }

    .left-side {
      display: flex;
    }

    .switch {
      margin-right: 10px;
    }
  }
}
